/*External CSS*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Cardo', serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: rgb(179, 25, 35);
}

header:after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}
/*Hover Effect*/
nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.navbar{
    background: rgb(179, 25, 35);
	float: right;
	
}

.navbar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


.navbar li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
}

.navbar a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.backImg{
	width: 100%;
	height: 100vh;
	background-image: url('./images/bgg.jpg');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.profile{
	width: 360px;
	background-color: rgba(0,0,0,0.3);
	padding: 30px ;
	border-radius: 10%;
}
img{
	height: 250px;
	border-radius: 70%;
	margin-bottom: 20px;
}

.profileText{
	margin-bottom: 20px;

}

.profileText h2{
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 7px;
}

.profileText h3{
	font-size: 1.4em;
	font-weight: 500;
	margin-bottom: 10px;
}

.profileText p{
	font-size: 14px;
}

i{
	color: white;	
}

body{
	background-image: url(./images/cv.jpg);
}
.h1{
	text-align: center;
}
.h2{	
	margin-top:  25px;
	margin-left: 700px;
	font-family: fantasy;
}
p{
	font-size: 30px;
}
.h3{
	margin-left: 50px;
	margin-top: 150px;
	text-align: left;
	font-family: fantasy;
	font-size: 20px;
}
.h4{
	margin-top: 10px;
	margin-left: 700px;
	font-family: fantasy;
	font-size: 20px;
	text-align: left;
}
table{
	align-self: center;
	top: 100px;
	position: absolute;
	left: 250px;

}
.pp img{
	border-radius: 10%;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 95px;
	left: 25px;
	border: 1px solid white;
	box-shadow: 3px 4px 10px black; 
}


	.blog-section-technology{
	margin-top: 50px;
	margin-left: 270px;
	text-align: center;
	height: 550px;
	width: 800px;
	background-color: rgba(255,255,255,0.5);
	padding: 30px 0;
	border-radius: 10%;
		}

.blog-section-technology h6{
	font-size: 30px;
}

.research {
	width: 300px;
	height: 300px;
	padding: 30px 0;
	border-radius: 10%;
	margin-top: 30px;
		}
.research img{
	border-radius: 10%;
	width: 65px;
	height: 65px;
	position: static;
	top: 95px;
	left: 25px;
	border: 1px solid white;
	box-shadow: 3px 4px 10px black; 
}
/*Contact Section*/
.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}

.form h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.form .input_field{
  margin-bottom: 10px;
}

.form .input_field input[type="text"],
.form textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.form textarea{
  resize: none;
  height: 80px;
}

.form .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
/*Footer section*/
footer{
	padding: 10px;
	color: #000000;
	text-align: center;
}



